<div class = "wrapper">
<div class = "title-container">
  <h1>Vol Share</h1>
</div>
  <div class = "contents">
    <h2> Vol Share とは </h2>
    <div class = "text-container">
      <p>
        Vol Share（ボルシェア）とは、ボランティア活動専用の掲示板です。
        他のユーザーの活動を閲覧したり、他のユーザーと繋がることができます。
        また、ログインすることで自分から活動を発信したり、ボランティアを募集することができます。
        ボランテイア活動を行なっている学生や団体、ボランティアを募集したい方、ボランティア活動に参加したことないけど興味のある方など老若男女問わずご利用いただけます。
      </p>
    </div>

   <div class = 'btn-container'>
    <%= link_to new_user_registration_path do%>
      <button class = "btn">新規登録</button>
    <% end %>
  </div>
  </div>
</div>



